<% if current_user %>
    Home contents
<% else %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="button-login">
        <%= link_to "Sign in with Google", user_google_omniauth_authorize_path, id: "sign_in" %>
    </div>
<% end %>