/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 /* ヘッダー用 */
 .main-nav{
  display: flex;
  list-style:none;
  padding-left: 0px;

  background-color: aliceblue;

  a {
    text-decoration: none;
  }

  .a-button {
    margin: 10px;
    border-radius: 5px;
    
    color: gray;
    display: block;
    padding: 15px;
  }
  .a-button:hover {
    color: #60B99A;
  }

  .logo {
    background-color: aliceblue;
    color: black;
  }

  .login{
    background-color: aliceblue;
    color: skyblue;
  }

  li:last-child {
    margin-left: auto;
  }
 } 

 
/* フッター用 */
 footer {
   margin-top: 30px;
  height: 50px;
  background-color: aliceblue;
  text-align: center;
  color: gray;

  p {
    padding-top: 15px;
  }
}